!!! 5
%html{lang:"en", dir:"ltr"}
  %head
    %meta{ charset: "utf-8"}
    %link{ rel: "stylesheet", href: "/public/app.css" }
    %script{ src: "/public/jquery.js" }
    %script{ src: "/public/game.js" }
  %body
    != body
